<div class="container p-4">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center">
                <div class="card-body"> 
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4> Estudiante  {{user.username}}</h4>
                    <a href="/asignaturas" class="btn btn-primary m-4">
                        Tus Asignaturas    
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>